@import "default" // From underscores

@import "variables"

@import "vendors/vendors";
@import "pages/pages";
@import "regions/regions"
@import "modules/modules";

html, body
  height: 100%

body
  font-family: 'Exo 2', sans-serif
  background-color: $background-blue
  min-height: 100%

.container
  padding: 0 1rem
  @include cf()
  @include bp(m)
    padding: 0 5rem

.left-side, .right-side
  @include bp(s)
    @include col(1/2)
