@import "default" // From underscores

@import "variables"

@import "vendors/vendors";
@import "pages/pages";
@import "regions/regions"
@import "modules/modules";

html, body
  height: 100%

body
  font-family: 'Exo 2', sans-serif
  background-color: $background-blue
  min-height: 100%

.left-side, .right-side
  @include bp(s)
    @include col(1/2)

.video-container 
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

.video-container iframe 
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%

