h1
  color: $sky-blue
  font-size: 36pt
  font-weight: 900
  line-height: 6rem
  +bp(s)
    font-size: 105pt

h2
  background-color: white
  font-style: italic
  color: $dark-blue
  font-weight: 100
  line-height: 3rem
  padding: 1.0rem 0.5rem
  display: inline-block
  font-size: 20pt
  +bp(s)
    font-size: 40pt

h3
  color: $orange
  font-weight: 600
  font-size: 20pt
  +bp(s)
    font-size: 25pt

