.light-background, .dark-background
  padding: 1rem 0rem 2rem 0rem

.light-background
  p
    color: $dark-blue
    font-size: 18pt

.dark-background
  background-color: $dark-blue
  ul
    li
      color: $background-blue
  div
    color: $background-blue
  p
    color: $background-blue
    font-weight: 200
    font-size: 18pt
