.light-background, .dark-background
  padding: 0.5rem 0rem

.light-background
  p
    color: $dark-blue

.dark-background
  background-color: $dark-blue
  p
    color: $background-blue
    font-weight: 200
