.main-navigation
  .menu-primary-container
    background-color: white
    position: absolute
    right: 0
    padding: 0.5rem 1rem

    #primary-menu
      font-style: italic
      font-size: 1.25rem

      li
        a
          color: $orange
          &:hover
            color: black
      li + li
        margin-left: 2rem
